.contact-page,
.contact-page * {
  box-sizing: border-box;
}
.contact-page {
  background: #6adde8;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  left: 25px;
  top: 19px;
}
.contact {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 1238px;
  top: 24px;
}
.homepage {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 818px;
  top: 24px;
}
.about {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 1070px;
  top: 24px;
}
.bmgt-407-information-systems-projects {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: 100px;
  top: 155px;
}
.bmgt-407-is-the-capstone-course-for-information-systems-is-majors-the-purpose-of-the-class-is-to-apply-ideas-from-bmgt-403-to-real-life-business-issues-professor-paul-t-shapiro-teaching-assistants-bharath-sreekumar-caifu-lin-sumanth-devara-semester-details-spring-2025 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 100px;
  top: 247px;
  width: 1235px;
  height: 375px;
}
