.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: #6adde8;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  left: 25px;
  top: 19px;
}
.contact {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 1238px;
  top: 24px;
}
.homepage {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 818px;
  top: 24px;
}
.about {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 1070px;
  top: 24px;
}
.lets-make-a-website {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 64px;
  font-weight: 700;
  position: absolute;
  left: 332px;
  top: 297px;
}
.today-let-s-create-a-sample-website-design-in-figma-and-export-its-corresponding-html-and-css-code {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 256px;
  top: 375px;
  width: 928px;
  height: 147px;
}
.rectangle-1 {
  background: #27b07a;
  border-radius: 10px;
  width: 371px;
  height: 84px;
  position: absolute;
  left: 534px;
  top: 543px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.get-started {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  left: 600px;
  top: 560px;
}
